*{
	margin: 0;
	padding: 0;
}
body{
  overflow-x: hidden;
}
h1{
	text-align: center;
	color: rgb(150, 0, 0);
	font-size: 500%;
}
legend{
	text-align: center;
	font-size: 200%;
}
a:link{
	color: rgb(255, 0, 0);
	font-size: 200%;
}
a:visited{
	color: rgb(0, 100, 0);
}